@charset "UTF-8";
html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #46317B;
}

.btn-area {
    margin: 60px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.title {
    margin: 40px 0 20px 0;
}

.btn2 {
    margin-left: 20px;
    margin-right: 20px;
}


/* header */

.header {
    background: #fff;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.header-btn img {
    width: 20px;
}

.header-btn:hover {
    color: #000;
}

.header-btn {
    background: #ffbf2c;
    color: #000;
}


/* banner */

.banner {
    padding-top: 0px;
}

.banner-bg {
    display: block;
}

.banner-bg-m {
    display: none;
}


/*tree*/

.tree1 {
    position: absolute;
    right: 0px;
    top: 400px;
    z-index: 1;
    display: block;
}

.tree2 {
    position: absolute;
    right: 0px;
    top: 4000px;
    display: block;
}

.tree3 {
    position: absolute;
    left: 0px;
    top: 1600px;
    display: block;
}


/* step */

.cardf {
    padding: 80px 120px 50px 120px;
}

.btn-rules {
    width: 234px;
    margin-top: 30px;
}

.btn-rules:hover {
    cursor: pointer;
}

.req-pc {
    width: 1000px;
    margin: 60px 0;
}

.step-m {
    display: none;
}

.req-m {
    display: none;
}


/* model */

.inner-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.inner-txt {
    padding: 10px 25px;
    line-height: 2;
    font-size: 15px;
}

.inner-txt td {
    line-height: 1.5;
    font-size: 16px;
}

.modal-title span {
    color: #FF6671;
    font-weight: 600;
    margin-left: 10px;
}


/* gift */

#gift {
    margin-bottom: 50px;
}

.gift-img {
    position: relative;
    margin: 12.5px 0;
    z-index: 100;
}

.abc {
    margin: 30px 0 50px 0;
}


/* footer */

.footer {
    background: #424242;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #adadae;
}

.contact {
    padding: 25px 0 15px 0;
    margin: 30px 0 60px 0;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
}

.contact img {
    width: 40px;
}

.footer a {
    color: #adadae;
}

@media (max-width: 767px) {
    .banner {
        padding-top: 0px;
    }
    .title {
        margin: 30px 0 20px 0;
    }
    .btn-area {
        margin: 20px 0;
    }
    #gift {
        padding: 0 0 30px 0;
    }
    .btn-rules {
        width: 150px;
        margin-top: 30px;
    }
    .btn2 {
        margin-left: 0;
        margin-right: 0;
    }
    .banner-bg {
        display: none;
    }
    .banner-bg-m {
        display: block;
    }
    .cardf {
        padding: 20px;
    }
    .step-pc {
        display: none;
    }
    .step-m {
        display: block;
    }
    .req-pc {
        display: none;
    }
    .req-m {
        margin: 20px 0 33px 0;
        display: block;
    }
    .contact {
        display: none;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer p {
        font-size: 0.7rem;
        margin-bottom: 30px;
    }
    .tree1 {
        display: none;
    }
    .tree2 {
        display: none;
    }
    .tree3 {
        display: none;
    }
    .yellow {
        display: none;
    }
    .title {
        padding-left: 35%;
        padding-right: 35%;
    }
    .abc {
        padding-left: 20%;
        padding-right: 20%;
    }
}


/* list*/

.list-title {
    font-size: x-large;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(29, 78, 111);
    padding: 20px;
    margin-bottom: 10px;
}

.list {
    color: #000
}

.list h1 {
    color: #fff;
    font-weight: 800;
    margin: 50px auto;
}

.bg {
    background-color: #FFF3F8;
    padding: 10px;
    margin-bottom: 33px;
    border-radius: 10px;
}